
{% extends 'base/base.html' %}

    {% block contenido %}
        {% csrf_token %}
            {% if user.is_authenticated %}
            
                <h1>Bienvenido {{user}} a la página de inicio</h1>
                <!-- <h1>{{user.is_authenticated}}</h1> -->
            {% else %}
                <h1>Bienvenido a la página de inicio</h1>
                <p>click <a href="">aqui</a> para iniciar sesión</p>
            {% endif%}
    {% endblock contenido %}



<!-- <table>
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
    </tr>
    {% for us in todos_los_usuarios %}
        <tr>

            <td>{{us.nombre}}</td>
            <td>{{us.apellido}}</td>
            
        </tr>
    {% endfor %}
</table> -->